<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<div th:replace="fragments :: head"></div>
<head>
    <style>
        .button1:hover {
        background-color: #41B3A3;
        color: black;
        }
    </style>
</head>
<body>
<header th:replace="fragments :: header"></header>
    <form action="/tasks/completed/add" method="POST">
        <div>
            <label>Type:
                <select th:field="${completedTasks.completedTaskType}">
                    <option th:each="type : ${completedTaskTypes}"
                            th:value="${type}"
                            th:text="${type.taskTypeDisplayName}"
                    ></option>
                </select>
            </label>
        </div>
        <div>
            <label>Task:
                <input th:field="${completedTasks.completedTaskName}" />
            </label>
            <p class="error" th:errors="${completedTasks.completedTaskName}"></p>
        </div>
        <div>
            <label>Notes:
                <textarea th:field="${completedTasks.completedTaskNotes}" />
            </label>
            <p class="error" th:errors="${completedTasks.completedTaskNotes}"></p>
        </div>
        <div>
            <label>Date Completed:
                <input type="date" id="date-completed" name="completedTaskDate">
            </label>
        </div>
        <div>
            <label>Employee Completed By:
                <select th:field="${completedTasks.employeeNames}">
                    <option th:each="employee : ${employeesRepository}"
                            th:value="${employee.id}"
                            th:text="${employee.employeeFirstName + ' ' + employee.employeeLastName}"
                    ></option>
                </select>
            </label>
        </div>
        <button class="button button1" style="border-radius: 30px;" type="submit">Add New Completed Task</button>
    </form>
    </br>
    <p><a href="/tasks/completed/delete">Remove Completed Task</a></p>
    <p><a href="/tasks/completed/list">Completed Task List</a></p>
    <p><a href="/tasks">Task Manager</a></p>
    <p><a href="/">Home</a></p>
</body>
</html>