<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title>Bar Helper</title>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/styles.css}">
    <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>
    <nav th:fragment="header" id="mainH" >
    <h1 th:text="${title}"></h1>
    </nav>

    <div class="nav">
        <span class="bold">Admin Portal</span>
        <th:block th:unless="${loggedIn}">
            <a class="navlink" href="login">Login</a>
            <a class="navlink" href="register">Register</a>
        </th:block>
        <th:block th:if="${loggedIn}">
            <a class="navlink" href="logout">Log Out</a>
        </th:block>

    </div>

</body>
</html>