<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<div th:replace="fragments :: head"></div>
<head>
    <style>
        .button1:hover {
        background-color: #41B3A3;
        color: black;
        }
    </style>
</head>
<body>
<header th:replace="fragments :: header"></header>
    <form action="/employees/add" method="POST">
        <div>
            <label>First Name:
                <input th:field="${employees.employeeFirstName}" />
            </label>
            <p class="error" th:errors="${employees.employeeFirstName}"></p>
        </div>
        <div>
            <label>Last Name:
                <input th:field="${employees.employeeLastName}" />
            </label>
            <p class="error" th:errors="${employees.employeeLastName}"></p>
        </div>
        <div>
            <label>Date Of Birth:
                <input th:field="${employees.employeeInformation.dateOfBirth}" type="date" id="dateOfBirth" name="dateOfBirth">
            </label>
        </div>
        <div>
            <label>Position:
                <select th:field="${employees.employeeInformation.employeePosition}">
                    <option th:each="position : ${positionType}"
                            th:value="${position.id}"
                            th:text="${position.name}"
                    ></option>
                </select>
            </label>
        </div>
        <div>
            <label>Phone Number:
                <input th:field="${employees.employeeInformation.phoneNumber}" type="tel" id="phoneNumber" name="dateOfBirth">
            </label>
        </div>
        <div>
            <label>Address:
                <input th:field="${employees.employeeInformation.address}" type="text" id="address" name="dateOfBirth">
            </label>
        </div>
        <button class="button button1" style="border-radius: 30px;" type="submit">Add New Employee</button>
    </form>
    </br>
    <p><a href="/employees/delete">Remove Employee</a></p>
    <p><a href="/employees/list">Employee List</a></p>
    <p><a href="/">Home</a></p>
</body>
</html>